body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #e7f0ff, #f9fbff);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    margin-top: 30px;
    color: #2a4e96;
}

#MonatBtn {
    padding: 12px 25px;
    font-size: 1.1rem;
    background-color: #3b7df0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.2s;
    box-shadow: 0 5px 15px rgba(59, 125, 240, 0.3);
}

#MonatBtn:hover {
    background-color: #2d62b8;
    transform: translateY(-2px);
}

#hasen {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
}

.hase {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: linear-gradient(135deg, #fff, #e8f2ff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    box-shadow: 0 4px 10px rgba(11, 11, 11, 0.2);
    transition: 0.2s ease;
}


.hase:hover {
    transform: scale(1.1);
}
